{
	"parser": "@babel/eslint-parser",
    "extends": [ "plugin:@wordpress/eslint-plugin/recommended" ],
	"env": {
		"browser": true,
		"es6": true,
		"node": true,
		"mocha": true
	},
	"parserOptions": {
		"sourceType": "module",
		"ecmaFeatures": {
			"jsx": true
		}
	},
	"globals": {
		"wp": true,
		"wpApiSettings": true,
		"window": true,
		"document": true
	},
	"rules": {
		"camelcase": ["error", { "properties": "never" }],
		"lines-around-comment": "off",
		"vars-on-top": "off",
		"yoda": "off",
		"linebreak-style": "off",
		"no-console": "off",
		"no-undef": "off"
	}
}
